apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-api
  namespace: wind-turbine-demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend-api
  template:
    metadata:
      labels:
        app: backend-api
    spec:
      containers:
      - name: backend-api
        image: kmikholap/wt-backend:v2
        imagePullPolicy: Always
        ports:
        - containerPort: 5000
        env:
        - name: INFLUXDB_URL
          value: "http://influxdb:8086"
        - name: INFLUXDB_TOKEN
          value: "wttoken"
        - name: INFLUXDB_ORG
          value: "wt-co"
        - name: INFLUXDB_BUCKET
          value: "wind_turbine"
---
apiVersion: v1
kind: Service
metadata:
  name: backend-api
  namespace: wind-turbine-demo
spec:
  selector:
    app: backend-api
  ports:
  - protocol: TCP
    port: 80
    targetPort: 5000
    nodePort: 30004
  type: NodePort
